.title {
  margin-top: 40px;
  text-align: left;
  font-family: Poppins;
  font-size: 60px !important;
  font-weight: bolder;
  letter-spacing: 0px;
  color: #ffffff;
}
.big_card{
  display: flex;
  flex: wrap !important;
}
.select-div {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 2px 2%;
  border-radius: 12px;
  background-color: white;
  width: 100%;
  max-width: 500px;
}

.text-input {
  width: 100%;
  border: solid 1px rgba(100, 100, 100, 0.1);
  height: 30px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 10px;
  margin-right: 4px;
}

.felx {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1080px;
  margin-top: 100px;
}

.topside {
  padding-bottom: 8%;
}

.newx {
  width: 100%;
  max-width: 1240px;
  margin: 40px auto;
}

.big-card {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  border-radius: 12px;
  box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 100vw;
}

.news_image {
  max-width: 400px;
  height: auto;
}
.top-headline {
  margin: 40px auto;
  font-size: 45px;
}

.card_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.headline {
  text-align: left;
  font: normal normal bold 48px/60px Poppins;
  letter-spacing: 0px;
  color: #191919;
  margin: 40px auto;
}

.details {
  font: normal normal normal 18px/80px Noto Sans;
  letter-spacing: 0px;
  color: #555555;
}

.latest-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 2%; */
}

.news-card {
  object-fit: cover;
  object-position: top;
  width: 30%;
  padding: 0px;
  margin: 20px;
  margin-left: 0px;
  // box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.small-headline {
  text-align: left;
  font: normal normal bold 32px/80px Poppins;
  letter-spacing: 0px;
  color: #191919;
}

.sm-details {
  text-align: left;
  font: normal normal normal 18px/80px Noto Sans;
  letter-spacing: 0px;
}

.sm-img {
  width: 100%;
}

.news_main {
  margin-top: 70px;
  text-align: center;
  color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .big_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .news_image {
    width: 100% !important;
  }
  .news-card {
    width: 100%;
    margin: 2%;
  }

  .card_details {
    width: 100%;
  }
  .news_content {
    width: 100%;
  }
  .show_on_mobile{
    display: none;
  }
}
